.title {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.content {
  padding: 15px;
  margin: 20px 0;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWavingHand {
  margin-left: 5px;
}

.secretMessage {
  margin: 20px 0;
}

.secretMessage > span {
  background-color: #000;
  color: #000;
}

.secretMessage > span:hover {
  color: #fff;
}
